:root {
    --primery-text-color: #2E2F42;
    --text-color: #434455;
    --color-logo: #4D5AE5;
    --minor-color: #E7E9FC;
    --two-color-logo: #F4F4FD;
    --primery-bg-color: #fff;
}


/* Used class */
.list {
padding: 0;
margin: 0;

list-style: none;
}

.body {
color: var(--primery-text-color);
font-family: Roboto, sans-serif;
}
.section {
padding: 120px 0;
}
.container {
margin-left: auto;
margin-right: auto;
width: 1158px;
}

/* Header */
.header {
background-color: var(--primery-bg-color);
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container.header-box {
display: flex;
align-items: center;
}

/* Лого */
.logo {
display: flex;

color: var(--color-logo);
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.3; 
letter-spacing: 0.03em;
text-decoration: none;
text-transform: uppercase;
}

.studio-logo {
color: var(--primery-text-color);
}

/* Навігація */
.nav {
display: flex;
margin-left: 77px;
}
.nav-item:not(:last-child) {
margin-right: 40px;
}
.navigation-link {
display: block;
padding-top: 24px;
padding-bottom: 24px;

color: var(--primery-text-color);
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
}
.navigation-link:hover, .navigation-link:focus {
color: var(--text-color);
}
.navigation-link:active {
color: var(--color-logo);
}

/* Контакти */
.address {  
color: var(--text-color);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;  
}
.address:hover, .address:focus {
color: var(--color-logo);
}
.address:not(:last-child) {
    margin-right: 40px;
}
.list.address {
margin-left: auto;
}

/* Pages Studio */

/* Main content */
.hero.section {
padding-top: 192px;
padding-bottom: 192px;

background-color: var(--primery-text-color);
text-align: center;
}

.hero-title {
    margin-top: 0;
margin-left: auto;
margin-bottom: 48px;
margin-right: auto;
width: 500px;

color: var(--primery-bg-color);
font-weight: 600;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
}

.btn {
border-radius: 4px;
padding: 16px 32px;
min-width: 170px;

background-color: var(--color-logo);
color: var(--primery-bg-color);
border-color: var(--color-logo);
font-family: inherit;
font-weight: 600;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.04em;
text-align: center;
cursor: pointer;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
}


.title {
color: var(--primery-text-color);
}

.text {
color: var(--text-color);
}

.description.section {
padding: 120px 0px;
}

.list.description {
    display: flex;
}
.description-item {
    width: 264px;
}
.description-item:not(:last-child) {
margin-right: 24px;
}

.description.title {
margin-top: 0;
margin-bottom: 8px;

font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.description.text {
margin-top: 0;
margin-bottom: 0;
margin-right: 0;

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.container.work {
    padding-right: 15px;
    padding-left: 15px;
}

.work.section {
padding-top: 0;
}

.work-title {
margin-top: 0;
margin-bottom: 72px;

color: var(--primery-text-color);
font-weight: 600;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;  
}

.work.list {
display: flex;
}

.work-item:not(:last-child) {
margin-right: 24px;
}

.section.team {
background-color: var(--two-color-logo);
text-align: center;
}

.secondary-title {
margin-top: 0;
margin-bottom: 72px;


font-weight: 600;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.team.list {
display: flex;
}

.team-item:not(:last-child) {
margin-right: 24px;
}
.team-item {
    background-color: var(--primery-bg-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-name {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}
.team-title {
margin-top: 0;
margin-bottom: 8px;

font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.team-text {
margin-top: 0;
margin-bottom: 0;

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}


/* Pages portfolio */

.section.main {
padding-top: 96px;
}

.portfolio.container {
padding: 0;
}

.list.filter {
display: flex;
margin-bottom: 72px;

justify-content: center;
}

.filter-item:not(:last-child) {
margin-right: 24px;
}


.filter-btn {
padding: 12px 24px;

background-color: var(--minor-color);
color: var(--color-logo);
font-family: inherit;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
cursor: pointer;
border: 1px solid var(--minor-color);
border-radius: 4px;
}
.filter-btn:hover, .filter-btn:focus {
background-color: var(--color-logo);
color: var(--primery-bg-color);
border-color: var(--color-logo);
}

.list.card {
display: flex;
flex-wrap: wrap;
}

.card-item {
margin-right: 24px;
margin-bottom: 48px;
width: 360px;

border-top: none;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.card-item:nth-child(3n) {
margin-right: 0;
}
.card-item:nth-last-child(-n+3) {
margin-bottom: 0;
}

/* Footer */
.footer {
padding-top: 100px;
padding-bottom: 100px;

background-color: var(--primery-text-color);
}

.logo.bottom {
margin-bottom: 16px;
}

.secondary.studio-logo {
color:  var(--two-color-logo);
}

.footer-text {
width: 264px;
margin-top: 0;
margin-bottom: 0;

color: var(--minor-color);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;   
}